{% extends 'admin/layout.html.twig' %}
{% block body %}
{{ form_start(form) }}
{% embed 'decorator/_card.html.twig' %}
    {% block header %} 
    {{ 'article.edit'|trans( { '%entity%' : entity.title })|raw }}
    {% endblock %}

    {% block body %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.categories) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.image) }}
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.content) }}
            </div>
        </div>

    {% endblock %}

    {% block footer %}  
        <button type="submit" class="btn btn-warning">{{ 'edit'|trans }}</button>
        <a class="btn btn-dark" href="{{ path('app_admin_article_index') }}" role="button">{{ 'cancel'|trans }}</a>
    {% endblock %}
 {% endembed %}
{{ form_end(form) }}
{% endblock %}