{% extends 'base.html.twig' %}

{% block body %}

    {% set countByPage = 0 %}
    {% embed 'decorator/_card.html.twig' %}
        
        {% block header %}
            Liste des articles
        {% endblock %}
        
        {% block body %}
            <a class="btn btn-success float-right" href="{{ path('app_admin_article_new') }}" role="button">Ajouter</a>
        {% endblock %}
        
        {% block table %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Titre</th>
                        <th>Date ajout</th>
                        <th>Date modif.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    {% set countByPage = countByPage +1 %}
                        <tr>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.dateCreate|date('d/m/Y H:i') }}</td>
                            <td>{{ entity.dateUpdate|date('d/m/y H:i') }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %} {# block table #}

        {% block footer %}
            <div class="float-left">{{ entities.iterator|length }}/{{ entities|length }} Article(s)</div>

            <div class="float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                        </li>

                        {% for p in 1..nbPages %} 
                            <li class="page-item"><a class="page-link" href="#">{{ p }}</a></li>  
                        {% endfor %}
                        
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        {% endblock %}

    {% endembed %} {# embed 'decorator/_card.html.twig' #}
{% endblock %}{# block body #}

